body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    background-color: whitesmoke;
}

input[type=checkbox], input[type=number], input[type=color] {
    margin: 3px 30px 3px 5px;
    height: 30px;
    width: 50px;
    float: right;
}

#controls {
    position: relative;
    background-color: teal;
    padding: 15px;
    z-index: 10;
}

label, input[type=file] {
    color: white;
}

label {
    display: inline-block;
    width: 220px;
}

label > span {
    position: relative;
    top: 5px;
}

canvas {
    z-index: 5;
    margin: 0;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
}

#expand, #hide {
    color: white;
    padding: 5px 20px;
    background-color: teal;
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

#expand {
    z-index: 8;
}

#hide {
    z-index: 12;
}