html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(2, 10, 46);
    display: flex;
    justify-content: center;
}

#imageContainer {
    display: none;
}

#gameContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#canvas {
    align-self: center;
}


#errorReport {
    transition: all ease-in-out 0.5s;
}

#errorContainer {
    position: relative;
}

#errorReport {
    height: 80px;
    width: 900px;
    margin-top: 20px;
    resize: none;
    opacity: 0.01;
    background-color: rgb(2, 10, 46);
    color: white;
    position: relative;
}

#errorContainer.active #errorReport:hover {
    opacity: 1;
}

#errorContainer.active #errorReport:focus {
    opacity: 1;
}
#errorReport::-webkit-scrollbar {
    display: none;
}

#errorContainer.active::before {
    content: "⚠";
    display: inline-block;
    color: #FF4444;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
}